<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="UTF-8"></meta>
        <title>Quiz Home</title>
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body class="flex flex-col min-h-screen">
      {% include 'quiz/header.html' %}
      <main class="flex flex-col grow bg-white">
        <h1 class="text-center">QUIZ HOME</h1>
      </main>
      <footer class="w-full h-10 bg-green-700 text-white text-center text-xs py-4">
        Copyleft © uQuiz All Seats Reserved.
      </footer>
    </body>
</html>
